@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fredoka', sans-serif;

  background-color: black;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
}

.section-1 {
  background-image: url("/assets/bg1.png"); 
  background-size: cover;
  background-position: top;
}

.bg-fade {
  background-color: rgba(0,0,0,0.46);
  opacity: 0.8;
}

.section-3 {
  background-image: url("/assets/bg2.png"); 
  background-size: cover;
  background-position: top;
}

.btn-whatsapp {
  background-color: #25d366;
}

.btn-facebook {
  background-color: #3b5998;
}

.btn-instagram {
  background-color: #262626;
}

.elementor-shape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
}

.elementor-shape-bottom {
  bottom: -1px;
}

.elementor-shape-top {
  bottom: 0px;
  transform: translateY(100%);
  z-index: 2;
}

.elementor-shape[data-negative=false].elementor-shape-bottom, .elementor-shape[data-negative=true].elementor-shape-top {
  transform: rotate(180deg);
}

.elementor-135 .elementor-element.elementor-element-7d2199c4 > .elementor-shape-bottom svg {
  transform: translateX(-50%) rotateY(180deg);
}

.elementor-shape-bottom:not([data-negative=true]) svg {
  z-index: -1;
}

.elementor-shape svg {
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.elementor-shape .elementor-shape-fill {
  fill: #fff;
  transform-origin: center;
  transform: rotateY(0deg);
}